{
  "platforms": [
    {
      "platform": "SolaxCloudAPI",
      "tokenId": "20200722185111234567890",
      inverters: [
        {
          "name": "My Solax",
          "sn": "ABCDEFGHIJ"
        }
      ],
      "pollingFrequency": 300
    }
  ]
}